<section class="login-content-frame">
    <div class="login-frame">
        <h2 class="title">Log In</h2>

        <form class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Your Username or Email" name="username">
            </div><!-- =Username Row End//= -->
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div><!-- =Password Row End//= -->

            <div class="btn-row">
<!--                <input type="submit" class="btn btn-green" value="Log In" name="Login">-->
                <button class="btn btn-green"><a routerLink="/mainDashboard">LogIn</a></button>
            </div><!-- =Btn Row End//= -->

            <div class="btm-option-block">
                <p class="remember-col">
                    <input type="checkbox" class="styled-checkbox" id="rememberMe" name="rememberMe">
                    <label for="rememberMe">Remember Me</label>
                </p><!-- =Remember Me col End//= -->

                <label class="fpassword"><a href="">Forgot Passowrd?</a></label>
            </div><!-- =btm option block End//= -->
        </form><!-- =Form End//= -->
    </div>
</section>