<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Angular_v01 Learning 01</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="page-container" ng-app="pageApp">
    <section class="page-controller" ng-controller="pageController">
      <!-- =Learning 01= -->
      <div class="frame-one">
        <div class="form-section" >
          <form name="dataForm" ng-class>
            <input type="text" ng-required="true"  ng-model="dataValue" name="data" class="form-control" />
            <input type="button" value="Add Grid 01" name="grid1" ng-click="gridvalue(1)" ng-disabled="dataForm.$invalid" />
            <input type="button" value="Add Grid 02" name="grid2" ng-click="gridvalue(2)" ng-disabled="dataForm.$invalid" />

            <!-- Text {{dataForm.data.$invalid}}
            Text {{dataForm.data.$pristine}} -->

          </form>

          <div ng-show="!dataForm.$valid" class="form-message-row">
            <strong class="error">Input Field is Empty. Fill the Field.</strong>
          </div>

        </div><!-- =form-section End//= -->

        <section class="grid-section">
          <ul class="grid-col grid-frame-one">
            <li class="title">
              <strong>Grid 1  Value is :</strong>
            </li>
            <li ng-repeat="gridVal in gridVals | filter: filterGridOne">
                {{ gridVal.data }}
            </li>
          </ul><!-- =Grid col 01 End//=-->
          <ul class="grid-col grid-frame-two">
            <li class="title">
              <strong>Grid 2 Value is</strong>
            </li>
            <li ng-repeat="gridVal in gridVals | filter: filterGridTwo">
              {{ gridVal.data }}
            </li>
          </ul><!-- =Grid col 02 End//=-->
        </section><!-- =Grid Section End//= -->
      </div><!-- =Learning 01 End//= -->

      <!-- =Learning Frame 02= -->
      <div class="frame-two">

      </div><!-- =Learning Frame 02 End//= -->
    </section>
  </div>

<script src="pageApp.js"></script>
<link href="style.css" type="text/css" rel="stylesheet" />

</body>
</html>
