<header class="header-frame">
    <h1 class="logo-col"><a >My Angular First App</a></h1>
    
    <nav class="navigation-col">
        <ul class="nav-bar menu-block">
            <li><a routerLink="/homepage" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/aboutpage" routerLinkActive="active">About Us</a></li>
            <li>
                <a routerLink="/contactpage" routerLinkActive="active">Contact Us</a>
            </li>
        </ul>
        <div class="user-option-block">
            <label class="user-link login-link">
                <a routerLink="/loginPage" routerLinkActive="active">Login</a>
            </label>
        
            <label class="user-link register-link">
                <a routerLink="/registerPage" routerLinkActive="active">Register</a>
            </label>
        </div>
        
    </nav>
</header>