<h1 class="logo-frame">
  <a [routerLink]= "['']" routerLinkActive="active">DummyLogo</a>
</h1><!-- =Logo Frame End//= -->
<section class="content-frame">
  <div class="assignment-listing">
    <a class="btn" [routerLink]= "['../landingScreen']">
      Assignment 01
      <span class="desc">(Open Bank Account)</span>
    </a>
    <a class="btn" [routerLink]="['../assignmentTwoHomeScreen']">
      Assignment 02
      <span class="desc">(Bulk Invoice Information)</span>
    </a>
  </div>
</section>
