<aside class="left-side-col">
    <section class="content-section">
        <ul>
            <li>
                <a routerLink="/dashboardpage" routerLinkActive="active">
                    <i aria-hidden="true" class="fa fa-tachometer"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/profilepage" routerLinkActive="active">
                    <i aria-hidden="true" class="fa fa-user-circle"></i>
                    <span class="text">Profile</span>
                </a>
            </li>
            <li>
                <a routerLink="/eventspage" routerLinkActive="active">
                    <i aria-hidden="true" class="fa fa-tachometer"></i>
                    <span class="text">Events</span>
                </a>
            </li>
            
            <li>
                <a routerLink="/activitiespage" routerLinkActive="active">
                    <i aria-hidden="true" class="fa fa-life-bouy"></i>
                    <span class="text">Activities</span>
                </a>
            </li>
        </ul>
    </section>    
</aside><!-- =Left Side Col End//= -->
