<section class="content-frame">
  <article class="text-content">
    <p class="paragraph">
      <strong class="text-error">We Feel Sorry!</strong>
      Something went wrong or something need to fix.
    </p>
    <p class="paragraph">
      This is your Application number - <strong>AUCK09875277274532</strong> <br /> <br />
      Please contact with local branch or call us on <span style="color: #5B7CA7">+11-2728383, 1800-4567-4567</span>
    </p>
  </article>
  <br /><br />
  <div class="btn-row">
    <button class="btn btn-new-account" [routerLink]= "['../termsConditionScreen']" routerLinkActive="active">
      <span>Create Another Account</span>
    </button>
  </div>
  <br />
</section>
