<section class="home-page-content">
<!--
    <h2 class="home-title">
        Home Page
    </h2>
-->
    <div class="banner-section">
        <img src="../../assets/images/banner_01.jpg" alt="Banner Image" title="" />
    </div>
</section>

<!-- =Home-Mid Content Section= -->
<section class="content-section">
    <div class="content-row">
        <article class="content-col">
            <h2>Angular App Learning Content</h2>
            <p class="para">
                Add items by clicking My Shop Items. Click on Add Item and fill out the fields. If your item is downloadable make sure to select Virtual under the type dropdown. If you have multiple files make sure to select all of them at once for upload. If your item has different attributes like sizes or colors click on the plus tab to add the Attribute. Type the name and options. (Example: Name: Sizes Options: Small, Medium, Large) After the Attributes are created click Save Changes. The Attributes will now appear in the Variations section. Click on the plus tab on Variations. Select the Attributes you want to add. (Example: Small) Type the stock number and type the price. Click on the plus sign again to add more. Click Save Changes review your item make sure all information is correct.
            </p>
            
            <p class="para">
                Add items by clicking My Shop Items. Click on Add Item and fill out the fields. If your item is downloadable make sure to select Virtual under the type dropdown. If you have multiple files make sure to select all of them at once for upload. If your item has different attributes like sizes or colors click on the plus tab to add the Attribute. Type the name and options. (Example: Name: Sizes Options: Small, Medium, Large) After the Attributes are created click Save Changes. The Attributes will now appear in the Variations section. Click on the plus tab on Variations. Select the Attributes you want to add. (Example: Small) Type the stock number and type the price. Click on the plus sign again to add more. Click Save Changes review your item make sure all information is correct.
            </p>
            <p class="para">
                Add items by clicking My Shop Items. Click on Add Item and fill out the fields. If your item is downloadable make sure to select Virtual under the type dropdown. If you have multiple files make sure to select all of them at once for upload. If your item has different attributes like sizes or colors click on the plus tab to add the Attribute. Type the name and options. (Example: Name: Sizes Options: Small, Medium, Large) After the Attributes are created click Save Changes. The Attributes will now appear in the Variations section. Click on the plus tab on Variations. Select the Attributes you want to add. (Example: Small) Type the stock number and type the price. Click on the plus sign again to add more. Click Save Changes review your item make sure all information is correct.
            </p>
            
            <p class="para">
                Add items by clicking My Shop Items. Click on Add Item and fill out the fields. If your item is downloadable make sure to select Virtual under the type dropdown. If you have multiple files make sure to select all of them at once for upload. If your item has different attributes like sizes or colors click on the plus tab to add the Attribute. Type the name and options. (Example: Name: Sizes Options: Small, Medium, Large) After the Attributes are created click Save Changes. The Attributes will now appear in the Variations section. Click on the plus tab on Variations. Select the Attributes you want to add. (Example: Small) Type the stock number and type the price. Click on the plus sign again to add more. Click Save Changes review your item make sure all information is correct.
            </p>
        </article>
    </div>
</section><!-- =Home-Mid Content Section End//= -->

